const pubsub = require('../../subscriptions/pubsub').pubsub;
const errorUtils = require('../../../models/services/error/errorUtils');
const mongooseBadgeRepo = require('../../../models/services/mongo/mongoose/mongooseBadgeRepo');

const {{camelCase queryName}} = (root, { arg1, arg2 }, { req, res }) => {
	/*
		In case you need to publish message for real-time reactivity feature
		pubsub.publish('likeSubscription', { likeSubscription: 'A user just liked your new status' });
	*/

	/*
		In case you need to get/modify data from db
		const badge = await mongooseBadgeRepo.findOne({ email });
	*/

	return `${arg1}_${arg2}`
}

module.exports = {{camelCase queryName}};