process.env.NODE_ENV = 'test';

const chai = require('chai');
const expect = chai.expect;
const chaiHttp = require('chai-http');
const DB = require('../../db');
const server = require('../../../server');
const testUtils = require('../../testUtils');
const should = chai.should();
const authenticationWrapper = require('../../authenticationWrapper');


chai.use(chaiHttp);
describe('{{camelCase queryName}}', function () {
    beforeEach((done) => {
        console.log('connecting to database');
        DB.connect(done);
    });

    afterEach((done) => {
        console.log('dropping database');
        DB.drop(done);
    });

    // Test case: Assert the expected behaviour
    it('should successfully return expected data @please put details', async (done) => {

        // creating a user
        let user = testUtils.generateRandomUser();
        let tokenObj = {};
        let createdUser = await authenticationWrapper.signupVerifyAuthenticateWithRole(user, tokenObj, 'profile_access');



        const sampleInputVariable = {
            arg1: "",
            arg2 : ""
        };
        const queryName = '{{camelCase queryName}}';
        const queryBody = `
            query ${queryName}($arg1: String, $arg2: String) {
                {{camelCase queryName}}(arg1: $arg1, arg2: $arg2)
            }
        `;

        let body = { operationName: queryName, query: queryBody, variables: { id: sampleInputVariable } };

        try {

            let res = await chai.request(server)
                .post('/graphql')
                .send({query: body});
            let responseData = res.body.data;

            should.exist(responseData);
            responseData.{{camelCase queryName}}.something.should.equal("something");
            done();


        } catch (error) {
            done(error);
        }
    });

    // Test case: Assert the unexpected behaviour
    it('should fail and return an error code of STATUS CODE @please put details', async (done) => {

        // creating a user
        let user = testUtils.generateRandomUser();
        let tokenObj = {};
        let createdUser = await authenticationWrapper.signupVerifyAuthenticateWithRole(user, tokenObj, 'profile_access');

        const sampleInputVariable = {
            arg1: "",
            arg2 : ""
        };

        const queryName = '{{camelCase queryName}}';
        const queryBody = `
            query ${queryName}($arg1: String, $arg2: String) {
                {{camelCase queryName}}(arg1: $arg1, arg2: $arg2)
            }
        `;

        let body = { operationName: queryName, query: queryBody, variables: { id: sampleInputVariable } };

        try {

            let res = await chai.request(server)
                .post('/graphql')
                .send({query: body});

            let errorResponse = res.body.errors[0];
            should.exist(errorResponse);
            errorResponse.message.should.equal("ERROR MESSAGE"); // either assert error message here or below catch block.
            done();


        } catch (error) {
            error.status.should.equal(404);
            done(error);
        }
    });

})