type Mutation {
		{{camelCase moduleName}}_{{camelCase mutationName}}(arg1: String, arg2: String): String @permissionCheck(roles: ["profile_access"]) # please change it to appropriate permission
		# new_mutation (Do not remove this line)
	}