type Query {
		{{camelCase moduleName}}_{{camelCase queryName}}(arg1: String, arg2: String): String @permissionCheck(roles: ["profile_access"]) # please change it to appropriate permission
		# new_query (Do not remove this line)
	}