const withFilter = require('graphql-subscriptions').withFilter;
const pubsub = require('./pubsub').pubsub;
const errorUtils = require('../../models/services/error/errorUtils');
const jwt = require('jsonwebtoken');
const config = require('config');
const auth = require('../../models/services/auth/auth');

const {{camelCase subscriptionName}} =  {
	/*
		Following is a template of subscription for 1:1 message. Using this template, a user can subscribe to specific messages sent to he/she's indorse's email address.
	*/
    subscribe: withFilter(
        (_, args, {authorization}) =>{
            return pubsub.asyncIterator('MESSAGE_NAME');
        } ,
        // in order to do an authentication
        (payloads, {authorization}, context) => {
            let token = authorization.split(" ")[1];
            let req = {};
            req['token'] = token;
            auth(req,'',function(){return;});
            return req.email === payloads.{{camelCase subscriptionName}}.email;
        }
    )

}

module.exports = {{camelCase subscriptionName}};

